 <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!-- Top Navigation Menu -->
 <div class="topnav" *ngIf="isMobile">
  <a routerLink="/" class="active">
    <span>{{selectedLink}}</span>
  </a>
   <!-- Navigation links (hidden by default) -->
   <div #navHeadings>
     <div *ngFor="let item of menuItems; let index">
      <a routerLink="{{item === 'Jackpots' ? '/jackpots' : '/' }}" (click)="selectedLink = item;">
        <span>{{item}}</span>
      </a>
     </div>
   </div>
   <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
   <a class="icon" (click)="toggleNav()">
     <i class="fa fa-bars"></i>
   </a>
 </div> 

<!-- Toolbar -->
<div class="toolbar" role="banner"  *ngIf="!isMobile">
  <div class="heading-item" *ngFor="let item of menuItems">
    <a routerLink="{{ item.includes('Top Games') ? '/top' : item.includes('New Games') ? '/new' : item === 'Jackpots' ? '/jackpots' : '/top' }}">
      <span>{{item}}</span>
    </a>
   </div>
</div>

<router-outlet></router-outlet>

  <!-- Footer -->
  <footer></footer>


